body {
  margin: 0;
  font-family: SourceSerifPro, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "SourceSerifPro";
  src: local("SourceSerifPro"),
    url(./fonts/SourceSerifPro-Regular.ttf) format("truetype");
}
